



<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/isotope.pkgd.min.js') }}"  ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/wow.min.js') }}"  ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"  ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.countTo.js') }}" ></script>

